.list-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .name-section{
        padding: 10px;
        .nicknames{
            vertical-align: middle;
            padding: 5px;
            margin: 5px;
            line-height: 40px;
            border: 1px solid black;
            background-color: #e9ecef87;
            border-radius: 5px;
        }
    }
}
.favspan{    
    margin-right: 20px;
}
.arrow{
    cursor: pointer;
}
.display-list{
    margin: 20px;
}
.images{
    height: 80px;
    width: 80px;
}
.fa-heart{
    color: red;
   margin-right: 5px;
}
.section-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 66%; */
    align-items: center;
}